[submodule "vendor/github.com/blakesmith/ar"]
	path = vendor/github.com/blakesmith/ar
	url = https://github.com/blakesmith/ar
[submodule "vendor/github.com/go-yaml/yaml"]
	path = vendor/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml
