[submodule "vendor/github.com/blakesmith/ar"]
	path = vendor/github.com/blakesmith/ar
	url = https://github.com/xor-gate/ar
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
